.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 353px;
  height: 56px;
  text-decoration: none;
  text-align: center;
  border: #775ce5 1px solid;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.button:disabled {
  opacity: 0.4;
}

.button:hover {
  opacity: 0.7;
}

.button--primary {
  border: none;
  background-color: #775ce5;
  color: #fff;
}

.button--secondary {
  border-color: #775ce5;
  color: #775ce5;
}

.button--danger {
  border-color: #f23152;
  color: #f23152;
}
