.page__name {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  align-items: center;
}
.page__title {
  margin-top: 60px;
  margin-left: 128px;

  font-size: 20px;
  font-weight: bold;
  color: #1d1d1f;
}
