.transaction-sum {
    margin: 0 auto;
    font-size: 40px;
    color: limegreen;
}
.transaction-information{
    margin: 0 auto;
    margin-top: 25px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    gap: 5px;
    background-color: white;
    border-radius: 10px;
}
.transaction-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
